:root {
  --primary-color:#FFAD02;
  --secondary-color:#794321;

}

.btn-primary {

  background-color: var(--secondary-color) !important;
}
.btn-secondary{
  
  background-color: var(--primary-color) !important;
}

button.btn {
  border: none;
  padding: 8px 22px;
  border-radius: 30px;
  font-family: "Barlow", sans-serif;
  font-weight: 500;

}
button.btn:hover {
  opacity: 0.8;
}

